body {
    background-color: rgb(209, 216, 148);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
  background-color: #241e2e; 
  border: none;
  border-radius: 15px;
  color: white;
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  box-shadow: 0px 22px 60px 0 black;
}

#form, #form1 {
  background-color: #716279; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
  }
  
  #demo3, #retour, #reessayer {
  margin-top: 30px;
  background-color: #163e41; 
  border: none;
  border-radius: 5px;
  color: rgb(83, 228, 39);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

  #reessayer:hover {
    box-shadow: 0px 22px 60px 0 black;  
    cursor: pointer;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.4s;
  
    }


#form:hover {
  box-shadow: 0px 22px 60px 0 black;
  }

#form1:hover {
  box-shadow: 0px 22px 60px 0 black;
  }
  
