body {
    background-image: url("sommes.png");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
  background-color: #3f2b5f; 
  opacity: 0.9;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 25px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  box-shadow: 0px 22px 60px 0 black;
}

#form2, #form3 {
  background-color: #726ea7; 
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.4s;
  }


  #demo4, #demo5, #rafraichir, #retour {
  margin-top: 30px;
  background-color: #55318f; 
  border: none;
  border-radius: 5px;
  color: rgb(83, 228, 39);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  }

#rafraichir:hover {
  box-shadow: 0px 22px 60px 0 black;  
  }

#form2:hover {
  box-shadow: 0px 22px 60px 0 black;
  }

#form3:hover {
  box-shadow: 0px 22px 60px 0 black;
  }
